.gContainer {
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 122px;
}
.gDescr {
  text-align: left;
  margin: 10px 20px;
  position: absolute;
  bottom: 0px;
}
.gContentImg {
  max-width: 220px;
  max-height: 220px;
  width: 100%;
  border-radius: 4px;
  height: auto !important;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
}
.gContentWrap {
  height: 170px;
  width: 180px;
  margin: 10px;
  margin: 0px auto;
  border-radius: 4px;
  object-fit: contain;
  object-position: 50% 50%;
  position: relative;
}
.gItem {
  width: auto;
  height: auto;

  margin: 20px;
  display: inline-block;
}
.gContentImg:hover{
  box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 200ms ease-in-out;
}
.gContentWrap:hover {
  opacity: 0.8;
}
.gItem p {
  color: black;
  position: relative;
  text-align: left;
  padding: 9px 0px;
  font-family: "acumin-pro", "Acumin Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  width: 100%;
  max-width: 170px;
  border-radius: 4px;
  bottom: 0px;
  height: 32px;
  margin: 4px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
.galleryImages {
  width: 800px;
  height: 80%;
  border: 1px solid rgba(0,0,0,0.3);
  
  background: white;
  margin: 0px auto;
  border-radius: 4px;
  margin-top: 55px;
}
.title {
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 680px) {
  .gContentWrap {
    display: block;
    min-width: 180px;
    background: url("http://placehold.it/200x200") no-repeat center center;
  }
  .gContainer {
    display: grid;
  }
  .gItem p {
    font-weight: 200;
    margin: 12px auto;
  }
}

/* desktop only */
@media screen and (min-width: 2300px) {
  .gContainer {
    width: 1700px;
  }
  .gItem {
    border-radius: 4px;
    margin: 100px 80px;
    width: 400px;
    height: 400px;
  }
  .gContentWrap {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-size: cover;
    background: url("http://placehold.it/400x400") no-repeat center center;
  }
  .gContent:hover {
    transition: all 400ms ease-in;
  }
}
