.modalItem {
  background: rgba(0, 0, 0, 0.78);
  
  color: black;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100vh;
  position: absolute;
  text-align: center;
}
#x {
  color: black;
  font-size: 2em;
  right: 12px;
  top: 12px;
  position: absolute;
  cursor: pointer;
  margin-top: -22px;
}
.modalItem.noScroll {
  overflow: hidden;
  position: fixed;
}

.modalTitle{
  font-size: 1.3em;
  margin:0px auto;
  margin-top: 32px;
  font-family: "Open Sans";
}
.modalHeader{
  text-align: center;
}
.screenshot-images img{
  border: 1px solid rgba(0,0,23,0.12);
  margin: 20px 12px;
}
.screenshot-images div{
  display:inline-block;
  margin-top: 24px;
}
.screenshot-images p{
  text-align: center;
  margin: -12px auto;
  padding-bottom: 50px;
}
.descr{
  margin-top: -12px;
}

@media screen and (max-width: 500px){
   .modalTitle{
     margin-top: 22px;
     text-align: center;
   }
   .screenshot-images{
       display: inline-grid;
       position: absolute;
       left: 0;
       width: 100vw;
   }
   #x{
    color: black;
    top: -3px;
    font-size: 2em;
   }
}