.modalItem {
  background: rgba(0, 0, 0, 0.78);
  
  color: black;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  position: absolute;
  text-align: center;
}
.modalItem.show{
  visibility: visible;
  transition:200ms all;
  opacity: 1;
}
.modalItem.hide{
  opacity:0.7;
  visibility: hidden;
}
.modalItem.hide .galleryImages{
  transform: translateY(100vh);
}
.modalItem.show .galleryImages{
  transform: translateY(0);
  transition:1s all cubic-bezier(1, -0.26, 0.57, 1);
}
#x {
  color: black;
  font-size: 2em;
  position: initial;
  text-align: right;
  float:right;
  margin-right: 25px;
  margin-top: -22px;
  cursor: pointer;

}
.modalItem.noScroll {
  overflow: hidden;
  position: fixed;
}

.modalTitle{
  font-size: 1.3em;
  margin:0px auto;
  margin-top: 32px;
  font-family: "Open Sans";
}
.modalHeader{
  text-align: center;
}
.screenshot-images img{
  border: 1px solid rgba(0,0,23,0.12);
  margin: 20px 12px;
}
.screenshot-images div{
  display:inline-block;
  margin-top: 24px;
}
.screenshot-images p{
  text-align: center;
  margin: -12px auto;
  padding-bottom: 50px;
}
.descr{
  margin-top: -12px;
}


.galleryImages {
  width: 671px;
  border: 1px solid rgba(0,0,0,0.3);
  padding-top: 20px;
  box-shadow: 0px 0px 11px rgba(0,0,0,0.9);
  background: white;
  margin: 0px auto;
  border-radius: 4px;
  margin-top: 95px;
  overflow: scroll;
}
#code-section{
  background: rgba(151, 150, 52, 0.452);
  height: 200px;
  border-radius: 4px;
  width: 70%;
  margin: 0px auto;
  box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/lined_paper.png') repeat;
  opacity: 0.8;
}

@media screen and (max-width: 500px){
  .modalTitle{
    margin-top: 22px;
    text-align: center;
  }
  .screenshot-images{
      display: inline-grid;
      left: 0;
      width: 100vw;
      min-height: 800px;
  }
  #x{
   color: black;
   position: initial;
   text-align: right;
   margin-right: 25px;
   /* margin-top: 100px; */
   /* margin-top: -22px; */
   font-size: 2em;
  }

  .galleryImages {
    width: unset;
    height: 100%;
  }
}

.showText{
  visibility: visible;
}
.hideText{
  visibility: hidden;
}
.copyText{
  font-size: 0.6em;
  position: relative;
  background: rgba(0,0,0,0.8);
  border: white;
  padding: 4px;
  border-radius: 4px;
  color: white;
}

.copyText:hover{
  cursor:pointer;
}
code{
  font-family: monospace;
}
.copySVG{
  cursor:pointer;
}
#copy-code-section{
  text-justify: newspaper;
}

/* mobile modal */
@media screen and (max-width: 901px){
  .galleryImages{
    height: 100%;
    width: unset !important;
    margin-top: unset;
  }
  #x{
    top: 
    2px;
  }
}
@media screen and (min-width: 900px){
  .galleryImages{
    height: 55% !important;
  }
}
