.navHeader{
    width: 100%;
    background: #16A0D5;
    height: 80px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}
#magnify{
    opacity: 0.45;
    float: left;
    position: absolute;
    z-index: 11;
    top: 120px;
    left: calc(50% - 142px);
    transform: scale(1.8);
}
.pageHead textarea::placeholder{
    color: rgba(0,0,0,0.5);
    font-size: 30px;
}
textarea{
    font-family: 'Raleway', sans-serif
}